*.exe
*.obj
*.out
*.compile
*.native
*.byte
*.cmo
*.annot
*.cmi
*.cmx
*.cmt
*.cmti
*.cma
*.a
*.cmxa
*.obj
*~
*.annot
*.cmj
*.bak
lib/bs
*.mlast
*.mliast
.vscode
.merlin
.bsb.lock

__tests__/*.bs.js
node_modules/
dist/index.js
src/*.bs.js
src/parser.ml
src/parser.mli
src/lexer.ml
